html {
    height: 100vh;
    width: 100vw;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.holder {
    width: fit-content;
    height: fit-content;
}

.box {
    border: 1px solid chocolate;
    background: rgb(248, 203, 170);
    margin: 10px;
    padding: 5px;
}

.txt {
    margin: 6px;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
}

.box h3 {
    color: darkblue;
    font-family: Arial;
    font-weight: bold;
    margin: 0;
}

.box input {

}


.Ttable {
    border: 2px solid black;
    border-collapse: collapse;
    margin: 10px;
}

.Thead {
    cursor: pointer;
}

.Theadname {
    border: 1px solid black;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    padding: 3px;
    background: #ffb8b8;
}

.Trow {
    
}

.Tcell {
    border: 1px solid black;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    background: #ffffff
    padding: 3px;
}

.Timage {
    height: 50px;
}

.Timage:hover {
    height: 300px;
}

label {
    font-family: Arial;
}

button {
    font-family: Arial;
    font-weight: bold;
    background: #ff7171;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background: #ff5c5c;
}

.graph {
    display: none;
    border: 1px solid black;
    padding: 5px;
}

.canvas {

}